{{ define "main" }}
<div class="home">
    <section class="intro" style="margin-bottom: 3rem;">

        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>

        <time datetime="{{ .Date.Format " 2006-01-02" }}" style="color: var(--neutral); font-size: 0.9rem;">
            {{ .Date.Format "January 2, 2006" }}
        </time>

        <p style="margin-top: 0.5rem;">
            {{ if .Description }}
            {{ .Description }}
            {{ else }}
            {{ .Summary }}
            {{ end }}
        </p>

        <a href="{{ .Permalink }}" style="display: inline-block; margin-top: 0.5rem; font-weight: 700;">Read More
            →</a>
        </article>
        {{ end }}
    </section>
</div>
{{ end }}